<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Annotation Tool</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="app">
        <h1>Image Annotation Based on SAM</h1>
        <div id="button-container">
            <button @click="annotateSingle">Annotate images (ViT-L)</button>
            <button @click="annotateMultiple">Annotate images with multiple masks (ViT-L)</button>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
    
</body>
</html>